* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  overflow-y: hidden;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: none;
}

body {
  background: #222;
  margin: 3px;
  width: 300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: visible;
}

*[hidden] {
  display: none !important;
}

canvas {
  display: block;
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 12px;
}

div.red-line {
  position: absolute;
  top: 91px;
  left: 3px;
  width: 294px;
  background: rgb(255, 50, 50);
}

div[outer-radical] {
  background: rgb(127, 127, 127);
  border-radius: 20px;
  padding: 5%;
  height: auto;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div[bottom-text] {
  color: white;
  font-size: 0.8rem;
  margin-top: 5%;
  font-weight: bold;
}