* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*[hidden] {
  display: none !important;
}

html {
  width: calc(300px + 40px);
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: none;
  margin: 3px;
  width: auto;
  background: rgb(0, 0, 0);
}

canvas {
  display: block;
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 12px;
}

div[outer-radical] {
  background: rgb(63, 63, 63);
  border-radius: 20px;
  padding: 5%;
  height: auto;
  width: calc(300px + 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div[bottom-text] {
  color: white;
  font-size: 0.8rem;
  margin-top: 5%;
  font-weight: bold;
}

span[strong-num] {
  font-weight: 900;
  font-size: 0.85rem;
}